@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>If you like more information write me</h3>
<address>
    Latacunga, Ecuador<br />
    10 de agosto y 5 de junio<br />
    <abbr title="Phone">P:</abbr>
    593 95 870 4013
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dreico_oz@hotmail.com">Support@dgallardo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:dreico_oz@hotmail.com">Marketing@dgallardo.com</a>
</address>