@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ecuador<br />
    Quito, La Gasca y Arturo Meneses<br />
    <abbr title="Phone">P:</abbr>
    593 95 870 4013
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dreico_oz@hotmail.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:dreico_oz@hotmail.com">Marketing@example.com</a>
</address>